<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>過去問一覧</title>
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9FVEMLP1GE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-9FVEMLP1GE');
</script>
</head>
<body>
  <h1>過去問一覧</h1>
  <ul>
    {% for file in files %}
      <li><a href="/view/{{ file }}">{{ file }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>